@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body{
  background-image: url("olas.png");
 
  background-color: #002fa7;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 75vh;
  background-size: 100%;
} 

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

.loginH1 {
  font-size: 4rem;
  color: antiquewhite;
  /* text-shadow: #756d6d -2px 0, #726666 0 -2px, #728386 0 1px,
    #6e636352 -1px -2px 1px; */
  margin-bottom: 0.3em;
}

  .loginBoton{
    border-style: solid;
    padding: 0.5rem;
    background-color: #002fa7;
    border-color: antiquewhite;
    color: antiquewhite;
    font-size: 1rem;
    margin-top: 2rem;
  }
  .loginBoton:hover{
    background-color: antiquewhite;
    color: #002fa7;
  }
  



/* h3 {
  font-size: 40px;
  color: antiquewhite;
  /* text-shadow: #756d6d -2px 0, #726666 0 -2px, #728386 0 1px,
    #6e636352 -1px -2px 1px;  
    text-shadow: #000000 -1px 0, #000000 0 -1px, #ffffff 0 1px,
    #000000 -1px -2px 1px;
}  */

.swal-modal{
  background-color: #002fa7;
  border-radius: 0;
  border: solid 0.27rem antiquewhite;
  
}

.swal-title{
  font-size: 2rem;

  color: antiquewhite;
}

.swal-text{
  font-size: 1.1rem;

  color: antiquewhite;
}


.swal-button{
  border-style: solid;
  padding: 0.5rem;
  border-radius: 0;
  border: 0.17rem;
  
  background-color: #002fa7;
  border-color: antiquewhite;
}
.swal-button:hover{
  background-color: antiquewhite;
  color: #002fa7;
}

.swal-button--container:hover{
  border-radius: none;
border:none;
  background-color: antiquewhite;
}

